/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?473p0);src:url(fonts/icomoon.eot?473p0#iefix) format("embedded-opentype"),url(fonts/icomoon.ttf?473p0) format("truetype"),url(fonts/icomoon.woff?473p0) format("woff"),url(fonts/icomoon.svg?473p0#icomoon) format("svg");font-weight:400;font-style:normal}

[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.icon-folder:before{content:"\e92f"}

.icon-calendar:before{content:"\e953"}

.icon-search:before{content:"\e986"}

body{background-color:#fff;color:#444;font-size:15px;font-family:PingFangSC-Regular,Helvetica,Helvetica Neue,Segoe UI,Hiragino Sans GB,Source Han Sans CN,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,sans-serif;-moz-osx-font-smoothing:grayscale}

a,button.submit{color:#6e7173;text-decoration:none;-webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in;-o-transition:all .1s ease-in;transition:all .1s ease-in}

a:active,a:hover{color:#6e7173}

mark{padding:3px 3px 3px 5px;background:#fffdd1}

code,pre{background:rgba(27,31,35,.05);font-family:Menlo,Monaco,Consolas,Lucida Console,Courier New,monospace;font-size:.92857em}

pre{margin:2em 0;overflow:auto;border:1px solid #ddd;display:block}

code{display:inline-block}

blockquote{display:block;margin:1.1em 0;padding:1.5em 2em .5em;border:1px dashed #ddd;border-left:.5em solid #ddd;line-height:1.5;box-shadow:3px 3px 0 #eaeaea}

input[type=email],input[type=password],input[type=text],input[type=url],textarea{padding:6px;border:1px solid #ddd;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}

button,input,optgroup,select,textarea{font-family:inherit}

textarea{resize:vertical}

.clear{clear:both}

.clearfix,.col-group{zoom:1}

.clearfix:after,.clearfix:before,.col-group:after,.col-group:before{content:" ";display:table}

.clearfix:after,.col-group:after{clear:both}

.comment-content a,.post-content a{color:#0789e0;border-bottom:1px solid #ddd}

.comment-content a,.post-content a:hover,.post-meta a:hover,.widget a:hover{border-bottom-color:transparent}

#header{padding:58px 0 0;text-align:left}

#header .col-group{border-bottom:1px solid #ddd}

.site-name h1{padding:0;margin:0}

#logo{font-size:37.5px;font-weight:700;color:#555}

#logo:hover,#logo span{color:#777}

.description{margin:5px 0 0;color:#999}

#nav-menu{margin:10px 0 -1px;padding:0;float:right}

#nav-menu a{display:inline-block;margin-right:-1px;padding:0 1em;height:32px;line-height:32px;color:#444}

#nav-menu a:first-child{border:none}

#nav-menu a.current{border:1px solid;border-color:#ddd #ddd #fff}

.site-search{display:none}

#search{position:relative;overflow:hidden}

#search input{padding:1em 2em .75em 1em;line-height:1.5}

#search button{position:absolute;top:0;right:10px;font-size:20px;line-height:1.5;border:none;padding:14px 0;width:auto;height:48px;color:#444;background:none}

.col-8{width:800px}

.col-12{width:100%}

.container{width:1150px;padding:0 60px;margin:0 auto}

#secondary{float:right;width:245px;border-left:1px solid #ddd;padding-left:35px;word-wrap:break-word;display:block;padding-top:40px}

#main{padding-top:20px;float:left}

.post{padding:25px 0 15px}

.post-title{margin:0;color:#555;text-align:left;font-size:1.5em;font-weight:700}

.keyword,.post-title a{color:#555}

.post-meta{padding:0;margin-top:10px;color:#999;text-align:left}

.post-meta,.post-meta__container{display:flex}

.meta-category a{position:relative;margin-left:1.8em}

.meta-category a:after,.meta-category a:before{content:"";margin-left:-1.5em;position:absolute}

.meta-category a:before{width:18px;height:12px;background:#0089e0;border-radius:0 0 1px 1px;margin-top:4px}

.meta-category a:after{width:6px;height:0;left:3px;border-color:transparent transparent #0089e0;border-style:solid;border-width:0 1px 2px;background:transparent;margin-top:2px}

.meta-tags{display:inline-block}

.meta-tags ul{list-style:none;padding:0;margin:0}

.meta-tags ul a,.meta-tags ul li{float:left;height:24px;line-height:24px;font-size:14px;position:relative;padding:.3em 0}

.meta-tags ul a{margin-left:24px;padding:0 10px 0 14px;background:#0089e0;color:#fff;text-decoration:none;border-radius:2px}

.meta-tags ul a:before{content:"";float:left;position:absolute;top:0;left:-7px;width:0;height:0;border-color:transparent #0089e0 transparent transparent;border-style:solid;border-width:12px 12px 12px 0;transition:all .1s ease-in}

.meta-tags ul a:after{content:"";position:absolute;top:10px;left:0;float:left;width:4px;height:4px;border-radius:2px;background:#fff;box-shadow:-1px -1px 2px #004977}

.meta-tags ul a:hover{background:#555}

.meta-tags ul a:hover:before{border-color:transparent #555 transparent transparent}

.post-content{font-size:1em;line-height:1.7;color:#444;padding-top:27px;margin:0}

.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{color:#ba3925}

.page-content{padding-top:40px}

.post-content h2,.post-content h3{margin:1.4em 0 1.1em}

.comment-content p code,.post-content p code{display:inline}

.post-content p{margin:0 0 1.1em}

.post-content img{padding:1em 0;margin:auto;display:block}

.post-content ul{overflow:auto;padding:.5em 2.4em;border-radius:3px;margin:1.8em 0}

.post-content ul li{text-indent:.5em}

.archive-title{padding-top:20px;color:#999;font-size:1em}

.more{padding:10px 0 0}

.more a{border:none}

.protected .text{width:50%}

.page-navigator{border-top:1px solid #ddd;list-style:none;padding:25px 0 0;font-size:16px}

.page-navigator li{display:inline-block;margin:0 5px 5px 0}

.page-navigator a{display:inline-block;height:25px;line-height:25px;padding:5px 9px;border:1px solid #ddd}

.page-navigator .current a,.page-navigator a:hover{background:#f8f8f8;border-bottom-color:#d26911}

button{border-radius:0}

button.submit{border:1px solid #272727;display:block;line-height:32px;width:100%;outline:none;color:#fff;background:#272727;height:38px}

button.submit:hover{background:#505050;border-color:#505050}

textarea.textarea{width:100%;height:174px;padding:10px;overflow:auto;margin:0;line-height:1.8;color:#222;font-size:14px;background:#fdfdfd!important;color:#555}

.col1 p,.col2 p{margin:9px 0}

.col1 p{margin-right:220px}

.col1{margin-right:-220px;height:auto;float:left;width:100%;background-position:0 0}

.col1,.col2{position:relative}

.col2{width:204px;float:right;overflow:hidden;background-position:100% 0}

.widget{margin-bottom:30px}

.widget-title{color:#6e7173;line-height:2.7;margin-top:0;font-size:16px;border-bottom:1px solid #ddd;display:block}

#response{margin-bottom:.8em}

.widget-list{list-style:none;padding:0}

.widget-list li{margin:5px 0;line-height:1.5}

.widget .tagcloud{margin-top:10px}

.widget .tagcloud a{line-height:1.5;padding:5px}

#footer{padding:.8em 0 3.6em;line-height:1.5;color:#999}

.error-page{margin-top:100px;margin-bottom:100px}

.comment-content{line-height:1.5;word-wrap:break-word;padding:10px 40px 10px 0}

.comment-content h2,.post-content h2{font-size:1.28571em}

.comment-content img,.post-content img{max-width:100%;margin:auto;display:block}

.post-content a img{background:#fff;position:relative;bottom:-4px}

.comment-content hr,.post-content hr{margin:2.1em auto;width:200px;border:solid #ccc;border-width:1px 0 0;position:relative}

.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto}

.alignleft{float:left}

.alignright{float:right}

img.alignleft{margin:5px 15px 0 0}

img.alignright{margin:5px 0 0 15px}

.al_year{width:60px;padding:10px 0}

.al_mon_list{margin-left:90px;margin-top:-2.2em;border-left:1px solid #ddd}

.al_mon_list li{list-style:none;line-height:1.8}

.al_mon_list li a{margin-left:1.5em}

.post-content-pages{font-size:17px}

.body404{height:100%;width:100%;background:#fff;background-size:cover;margin:4em 0 6em}

.site-name404{margin:0 auto;width:3em;text-align:center;letter-spacing:2px;font-size:74px}

.title404 span{font-size:15px;width:2px}

.site-name404 i{font-style:normal}

.title404 p{font-size:20px;margin:.5em 0 .6em}

.info404{text-align:center;width:100%}

#footer404{margin-top:30px}

.index404{margin-top:13px;display:inline-block;padding:14px 27px 14px 29px;color:#fff;white-space:nowrap;border-radius:50px;text-align:center;cursor:pointer;background:#444;font-weight:500;line-height:14px;letter-spacing:1px;font-size:14px;-moz-user-select:-moz-none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}

.index404:hover{background-color:#000;color:#fff}

.icon-about{padding:10px 0 25px}

.icon-about a{font-size:20px;margin:5px;color:#fff;background-color:#000;border-radius:100%;padding:6px}

@media print, screen and (max-width:1290px){.container{width:auto}#main{width:100%;margin-right:-320px;float:left}.res-cons{width:auto;margin-right:320px}.post-content img{max-width:100%}}

@media print, screen and (max-width:1057px){.container{width:auto}#main{width:100%;margin-right:-260px;float:left}.res-cons{width:auto;margin-right:260px}#secondary{width:175px;margin-top:35px;padding-top:5px}.post-content{font-size:14px}}

@media print, screen and (max-width:860px){#header{text-align:center}#main{width:100%;margin-right:0}#nav-menu{margin:35px 0 -1px}.res-cons{width:auto;margin-right:0}#secondary{display:none}}

@media print, screen and (max-width:680px){.container{padding:0 20px}.post-title{font-size:22px}.page-navigator{padding:15px 0 0}#footer{padding-top:10px}.page-navigator a{padding:0 6px}.post-content img{padding:.2em 0}.post{padding:12px 0}#nav-menu a{padding:0 15px;line-height:27px;height:27px;font-size:13px}}

@media print, screen and (max-width:500px){.col2{width:140px}.post-meta li.comment-count{display:none}.col1 p{margin-right:160px}.col1{margin-right:-160px}.post-content-pages{font-size:14px}.al_mon_list{margin-left:70px;padding-left:20px}}

.about{width:100%}

.hidden{display:none}

.post-archive{font-size:15px;line-height:2;padding-bottom:.8em}

.post-archive h2{margin:0}

.post-archive .date{padding-right:.7em}

.readmore a{font-size:14px;color:#444;margin:-10px 0;padding:5px 10px;border:1px solid #ddd;border-radius:5px;float:right}

.readmore a:hover{background:#f8f8f8;border-bottom-color:#d26911}

.post-copyright{list-style:none;display:flex;flex-direction:column;padding-left:10px;line-height:35px;font-size:18px}

.post-copyright a{border-bottom:1px solid}

.meta-icon{margin:0 2px}